html {
    scroll-behavior: smooth; 
  }

  * {
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    margin: 0; padding: 0;
    background-color: #829985;
  }
  
  .header {
    background: #829985;
  }

  footer {
    background-color: #829985
  }
  
  main {
    background-color: blanchedalmond;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    font-style: oblique;
    list-style:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .nav-link {
    font-size: 20px;
    line-height: 50px;
    padding:0 15px;
    color: orange;
  }
  
  h1 {
    font-style: italic;
    color: coral;
  }