html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header {
    width: 1440px;
    height: 90px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background: black;
    flex-wrap: nowrap;
}

.right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-list {
    margin: 0;
    list-style-type: none;
    width: 584px;
    height: 50px;
    display: inline-flex;
    padding: 0;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.icon {
    color: white;
    margin: 31px 20px 31px 40px;
}

a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    width: 294px;
    height: 50px;
    margin: 20px 454px 20px 20px;
}

.welcome {
    display: flex;
    background: url(./assets/Welcome.jpg), lightgray 50% / cover no-repeat;
    width: 1440px;
    height: 600px;
    align-items: center;
}

.pp-welcome {
    color: #FFF;
    width: 520px;
    flex-shrink: 0;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.p-welcome {
    display: flex;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    margin: 220px 840px 160px 0px;
}

.mein-about {
    width: 1440px;
    height: 837px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFF;
}

hr.m {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}

h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 20px;
}

.b1 {
    color: #000;
    width: 1440px;
    height: 40px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.images1-about {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(./assets/image\ 1.png), lightgray 50% / cover no-repeat;
    margin: 20px 10px 40px 20px;
}

.images2-about {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(./assets/image\ 2.png), lightgray 50% / cover no-repeat;
    margin: 20px 15px 40px;
}

.images3-about {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(./assets/image\ 3.png), lightgray 50% / cover no-repeat;
    margin: 20px 20px 40px 10px;
}

.img-about {
    display: flex;
}

.points {
    display: flex;
    width: 68px;
    height: 16px;
    justify-content: space-between;
    flex-shrink: 0;
}

.dots {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
}

.dots.one {
    background-color: #BB945F;
}

.favorites {
    width: 1440px;
    height: 1439px;
}

.favor {
    width: 1440px;
    height: 1439px;
}

.fav.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fav.p {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 234px;
    height: 24px;
    margin: 40px 1186px 37px 20px;
}

.fav.midle {
    display: flex;
    flex-direction: column;
}

.fav.but {
    display: flex;
    width: 700px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 60px;

}



label {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.winterp {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fav.bot {
    display: flex;
    width: 1400px;
    height: 1150px;
    flex-shrink: 0;
    background: #FFF;
}

.books {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
}

.book.hr {
    width: 60px;
    height: 1px;
    background: #BB945F;
    margin: 0 470px 0 20px;
}

.book.staff {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 15px 428px 0 20px;
    white-space: nowrap;
}

.book.name {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}

.by {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 0;
}

.book.description {
    color: #000;
    width: 355px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin: 20px 175px 15px 20px;
}

.names {
    margin: 20px 362px 0 20px;
}

.buy {
    margin: 0 455px 15px 20px;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 27px;
}

.names.two {
    white-space: nowrap;
}

.book.description.two {
    margin: 20px 175px 55px 20px;
}

.book.description.four {
    margin-bottom: 95px;
}

.own {
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #BB945F;
    color: #BB945F;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 9px 25px;
    margin: 0 455px 15px 20px;
}

.levo {
    margin: 40px 140px 40px 20px;
}

.pravo {
    margin: 40px 60px 40px 140px;
}

.first {
    margin-bottom: 40px;
}

.second {
    margin-bottom: 40px;
}

.Coffee.shop {
    display: flex;
    height: 841px;
    width: 1440px;
    padding: 20px 20px 40px 20px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #FFF;
}

.shop-h {
    width: 220px;
    height: 40px;
    white-space: nowrap;
    margin-top: 0;
}
.Y {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.Yo {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.shop-p {
    width: 1400px;
    height: 120px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 0;
}
