html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background: black;
}

.left {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: 20px 20px 20px;
}

.right {
    display: inline-flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.icon {
    color: white;
    margin: 31px 20px 31px 40px;
}

a {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
}