html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header {
    min-width: 1440px;
    height: 90px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background: black;
    flex-wrap: wrap;
}

.right {
    display: inline-flex;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 30px;
    margin: 20px auto 20px;
    padding: 0;
}

.icon {
    color: white;
    margin: 31px 20px 31px 40px;
}

a {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    text-decoration: none;
}

h1 {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    width: 294px;
    height: 50px;
    margin: 20px 454px 20px 20px;
}

.welcome {
    display: flex;
    background: url(./assets/Welcome.jpg), lightgray 50% / cover no-repeat ;
    min-width: 1440px;
    height: 600px;
    align-items: center;
}

.pp-welcome {
    color: #FFF;
    width: 520px;
    flex-shrink: 0;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.p-welcome {
    display: flex;
    width: 520px;
    height: 150px;
    padding: 35px 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #0C0C0E;
    margin: 220px 840px 160px 0px;
}

.mein-about {
    min-width: 1440px;
    height: 837px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #FFF;
}

hr {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}

.a1 {
    width: 106px;
    height: 40px;
    margin: 20px;
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.b1 {
    color: #000;
    width: 1440px;
    height: 40px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.images1-about {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(./assets/image\ 1.png), lightgray 50% / cover no-repeat;
    margin: 20px 10px 40px 20px;
}

.images2-about {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(./assets/image\ 2.png), lightgray 50% / cover no-repeat;
    margin: 20px 15px 40px;
}

.images3-about {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
    background: url(./assets/image\ 3.png), lightgray 50% / cover no-repeat;
    margin: 20px 20px 40px 10px;
}
.img-about {
    display: flex;
}